@import "tailwindcss";
@import "./fonts/fonts.css";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --color-primary: #e98c49;
  --color-secondary: #045187;
  --color-black: #020202;
  --color-grey: #ababab;
  --color-light-grey: #d7d7d7;
  --color-white: #f6f6f6;
  --color-bug: #91c12f;
  --color-dark: #5a5465;
  --color-dragon: #0b6dc3;
  --color-electric: #f8d030;
  --color-fairy: #ec8fe6;
  --color-fighting: #ce416b;
  --color-fire: #ff9d55;
  --color-flying: #89aae3;
  --color-ghost: #5269ad;
  --color-grass: #78c850;
  --color-ground: #d97845;
  --color-ice: #98d8d8;
  --color-normal: #919aa2;
  --color-poison: #b567ce;
  --color-psychic: #fa7179;
  --color-rock: #c5b78c;
  --color-steel: #5a8ea2;
  --color-water: #5090d6;
}

:root {
  --background: #d7d7d7;
  --foreground: #020202;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-manrope: "Manrope", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d7d7d7;
    --foreground: #020202;
  }
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  font-family: var(--font-manrope);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-manrope);
}
