@import "tailwindcss";

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

@theme {
  --color-primary: #e98c49;
  --color-secondary: #045187;
  --color-black: #020202;
  --color-grey: #ababab;
  --color-light-grey: #d7d7d7;
  --color-white: #f6f6f6;
}
